.topBar{
    border: 1px solid red;
    display:flex;
    flex:1.5;
}
.text_top{
    border: 1px solid red;
    display:flex;
    align-items:center;
}
.icon{
    height:12%;
    width: 14%;
    padding-right: 9px;

}
.top_left_bar{
    display: flex;
     justify-content: flex-end;

}
.top_text_left{
    border: 2px solid black;
    display: flex;
    flex:1;
}
.h_top_bar{
    display: flex;
    align-items: center;
}

/* ---- */
/*     \\\\\\\\\\\\\\\\\ */

.logo{
    border:2px solid black;
    width:29%;
    padding: 0px;
}
.mid_nav{
    display: flex;
}
.basket{
    height:25%;
    width: 10%;
    padding-right: 9px;

}